@font-face {
  font-family: font;
  src: url('../src/Nabla-Regular-VariableFont_EDPT\,EHLT.ttf');
}

.load_back {
  margin-top: -10vh;
  background-image: none;
  background-color: #fff;
  width: 100vw;
  height: 120vh;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.load_back p {
  font-family: font;
  font-size: min(max(20px, 3.33vw), 1000px);
}

body {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)), url('../src/logos/back.jpg');
  background-repeat: no-repeat;
  border: none;
  background-size: cover;
  backdrop-filter: blur(2px);
  margin: 0px;
}

.modal {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.15);
  display: grid;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s, visibility 0.4s;
}

.modal.open {
  visibility: visible;
  opacity: 1;
}

.modal_box {
  position: relative;
  max-width: min(max(1px, 80vw), 4000px);
  padding: 40px;
  z-index: 5;
  margin: 30px 15px;
  background-color: #f3ea82;
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 24px 4px rgba(6, 121, 166, 0.1);
  -moz-box-shadow: 0px 0px 24px 4px rgba(6, 121, 166, 0.1);
  box-shadow: 0px 0px 24px 4px rgba(6, 121, 166, 0.1);
}

.modal_box p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: min(max(15px, 1.3vw), 1000px);
  color: #333205;
  margin-top: 15px;
  text-align: justify;
}

.modal_box h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: min(max(20px, 2vw), 1500px);
  text-transform: uppercase;
  color: #333205;
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;
}

.modal_close {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  z-index: 2;
  width: min(max(17px, 1.2vw), 1000px);
  height: min(max(17px, 1.2vw), 1000px);
  background-color: #333205;
  clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}

.modal_close:focus {  
  outline: none;
  box-shadow: 0 0 0 min(max(2px, 0.27vw), 100px) lightskyblue;
}

.modal_close:active {
  background-color: #575117;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header h1 {
  margin: 0;
  font-family: font;
  text-align: center;
  font-size: min(max(25px, 2.6vw), 250px);
}

.header img {
  margin-left: 10px;
  width: min(max(30px, 2.6vw), 250px);
  height: min(max(30px, 2.6vw), 250px);
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 95vh;
  margin-bottom: 15vh;
}

.square {
  width: min(max(240px, 30vw), 3000px);
  height: min(max(300px, 37.5vw), 3750px);
  background: #f3ea82;
  border-radius: 1.5625vw;
  margin: 30px;
  position:relative;
  max-height: 85vh;
}

.main_img{
  width:100%;
  height:100%;
  border-radius: 1.5625vw;
  position: relative;
  z-index: 2;
}

.buttonDes{
	cursor: pointer;
  background: none;
  right: 15px;
  top: 25px;
  position: absolute;
  z-index: 5;
}

.buttonDes_img:active {  
  width: min(max(30px, 3.3vw), 800px);
  height: min(max(30px, 3.3vw), 800px); 
}

.buttonDes_img:focus {  
  outline: none;
  box-shadow: 0 0 0 min(max(2px, 0.27vw), 100px) lightskyblue;
}

.buttonDes_img {
  width: min(max(30px, 3.5vw), 800px);
  height: min(max(30px, 3.5vw), 800px); 
}

.container_button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-between;
  width: min(max(15px, 5vw), 400px);
  margin: 0;
  padding: 0;
  margin-left: min(max(0px, 4vw), 300px);
  margin-right: min(max(0px, 4vw), 300px);
}

.button {
  width: min(max(30px, 5.2vw), 300px);
  height: min(max(30px, 5.2vw), 300px);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: min(max(30px, 5.2vw), 400px);
  margin-bottom: min(max(30px, 5.2vw), 400px);
  transform: rotate(90deg);
}

.button input {
  border: none;
  width: 100%;
  cursor: pointer;
}

.button input:focus {  
  outline: none;
  box-shadow: 0 0 0 min(max(2px, 0.27vw), 100px) lightskyblue;
}

.button input:active {  
  width: 98%;
}

@media (orientation: portrait) {
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .header h1 {
    margin: 0;
    font-family: font;
    text-align: center;
    font-size: min(max(20px, 3.5vh), 70px);
  }
  
  .header img {
    margin-left: 10px;
    width: min(max(28px, 4.2vh), 50px);
    height: min(max(28px, 4.2vh), 50px);
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .square {
    width: min(max(100px, 30vh), 500px);
    height: min(max(125px, 38vh), 625px);
    border-radius: 30px;
  }
  
  .main_img{
    width:100%;
    height:100%;
    border-radius: 30px;
    position: relative;
    z-index: 2;
  }
  
  .buttonDes{
    cursor: pointer;
    background: none;
    right: 10px;
    top: 15px;
    position: absolute;
    z-index: 5;
  }
  
  .buttonDes_img {
    width: min(max(15px, 4.88vh), 50px);
    height: min(max(15px, 4.88vh), 50px);
    background: none;
  }
  
  .container_button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    width: min(max(150px, 53vw), 200px);
    margin: 0;
    padding: 0;
  }
  
  .button {
    width: min(max(45px, 6.75vh), 70px);
    height: min(max(45px, 6.75vh), 70px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 18px;
    margin-top: 0;
    margin-bottom: 0;
    transform: rotate(180deg);
  }
  
  .button button{
    border: none;
    width: 100%;
  }
  
  .button button img{
    width: 100%;
  }
}